body {
    background-color: #FFF;
    font-family: sans-serif;
}

.cursor {
    cursor: pointer;
}

.navbar-toggler {
    color: rgba(255, 255, 255, 0);
    border: var(--bs-border-width) solid rgba(255, 255, 255, 0);
}

.navbar-brand {
    font-family: 'Permanent Marker', 'cursive';
    font-size: 25px;
    padding: 0px;
}

.custom-tooltip {
    --bs-tooltip-bg: white;
    --bs-tooltip-color: black;
    --bs-tooltip-opacity: 1;
}

.custom-woke {
    --bs-tooltip-bg: black;
    --bs-tooltip-color: white;
    --bs-tooltip-opacity: 1;
}

.btn-outline-dark {
    --bs-btn-active-border-color: black;
    --bs-btn-color: black;
    --bs-btn-hover-bg: black;
}

.share-btn {
    color: black;
    text-decoration: none;
}

.kecil {
    font-size: 13px;
}

#github {
    color: #FFF;
    text-decoration: none;
}